.header_wrap{
  margin:auto;
  width: 1080px;
  height: 215px;
  display:flex;
  align-items:center;
  position: relative;
}
.header_wrap h1{
  background-image: url('../images/naver_logo.png');
  background-repeat: no-repeat;
  float: left;
  width: 222px;
  height: 52px;
}
.header_wrap h1 a{
  display: block;
  width: 100%;
  height: 100%;
}
.header_wrap h1 span{
  position: absolute;
  clip: rect(0 0 0 0 );
  overflow: hidden;
}
.links{
  position: absolute;
  top: 0;
  right: 0;
}
.links a{
  font-size: 10px;
  margin-left: 5px;
}
fieldset{
  border:none;
}
.visually_hidden{
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}
select{
  display: none;
}
.green_window{
  position: relative;
  width: 582px;
  height: 52px;
  border:2px solid #19ce60;
  align-items: center;
}
.input_text{
  flex:9;
  width: 582px;
  height: 52px;
  padding: 13px 15px;
  border:none;
  outline: none;
  font-size: 18px;
}
.green_window button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 56px;
  background-color: #19ce60;
  border: none;
  outline: none;
  color: #ffffff;
}
.gnb{
  width: 100%;
    height: 45px;
    position: absolute;
    bottom: 0;
}
.group_nav{
  position:absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  border-top: 1px solid #f1f3f6;
}
.group_nav ul li{
  display:inline-block;
  margin-left: 8px;
}
.group_nav ul > li:nth-child(-n + 7) > a { 
  color: #03cf5d;
}
.group_nav ul li a{
  text-decoration: none;
  cursor: pointer;
}

.keyword{
  float: right;
}
.color_naver {
  color: #03cf5d;
}
